{% extends "user_portfolio/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        {% if user.is_authenticated %}
            <h1 class="display-4">Welcome {{user.username}}</h1>
        {% else %}
            <h1 class="display-4">Welcome</h1>
        {% endif %}
        <p class="lead">
            This is <b>user registration and login system</b> build with django
        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'user_locations' %}" role="button">Visualize user locations</a>
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'users-profile' %}" >Profile</a>
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
                <a class="btn btn-primary btn-lg" href="{% url 'users-register' %}" role="button">Sign up</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}
